{% load static %}
<!DOCTYPE>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-eqiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SOCILIZE HANGOUTS</title>
 <link rel="stylesheet" href="{% static 'socialize/styles/bases.css' %}">
 <link rel="stylesheet" href="{% static 'socialize/styles/all-socialize.css' %}">
</head>

<body>
   <header id="main-header">
     <nav><a href="/socialize" id="main-logo">Hangouts</a></nav>
     <h1>We are arranging a great hangout party coming soon!</h1>
     <p>Check which will be better for you!!</p>
   </header>

   <main>
     <section>
     <h2>Upcoming Hangouts!</h2>
     <ol>
     {% for socialize_item in socialize %}
       <li class="socialize-item">
        <article>
         <div class="socialize-summary">
          <div class="socialize-image">
           <img src="" alt="">
         </div>
         <div class="socialize-details">
           <h3>{{ socialize_item.title }}</h3>
           <address>{{ socialize_item.location }}</address>
           <h4>{{ socialize_item.group_name }}</h4>
          </div>
         </div>
         <div class="socialize-actions">
           <a href="" class="btn"> Enquiry More Details</a>
         </div>
        </article>
       </li>
      {% endfor %}
     </ol>
     </section>
   </main>
</body>
</html>
