section {
  max-width: 40rem;
  margin: 3rem auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialize-item {
  margin: 1rem 0;
  background-color: #43859e;
  padding: 2rem;
  color: rgb(255, 253, 253);
  border-radius: 4px;
}

.socialize-summary {
  display: flex;
  align-items: flex-start;
}

.socialize-image {
  margin-right: 2rem;
}

.socialize-image img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.socialize-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.socialize-details address {
  font-style: italic;
}

.socialize-actions {
  margin-top: 1.5rem;
  text-align: right;
}

.socialize-actions #btn {
  background-color: #bcfb82;
  border-color: #dbfb82;
  color: #904804;
  padding: 0.75rem 2rem;
  text-decoration: none;
}

.socialize-actions #btn:hover {
  background-color: #82dffb;
  border-color: #82e9fb;
}

