@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background: #EDE574;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #323235;
}

h1,
h2,
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #292729;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #4a89c3;
  border: 1px solid #2070b3;
  color: rgb(218, 216, 216);
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #016159;
  border-color: #01615c;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #04906d;
    font-weight: bold;
}
