main {
  text-align: center;
}

#confirmationOne {
  max-width: 60rem;
  margin: 3rem auto;
  box-shadow: 0 2px 6px rgba(26, 26, 73, 0.25);
  padding: 1rem;
  background-color: #8bed74;
  border-radius: 8px;
  color: rgb(8, 7, 7)
}

#confirmationOne h2 {
  color: inherit;
  font-size: 2rem;
}

#confirmationOne p {
  font-size: 1.25rem;
}

#confirmationOne p a {
  color: #151d1a;
  text-decoration: none;
  font-weight: bold;
}

#continueOne p {
  margin: 2rem 0;
  color: rgb(41, 28, 28);
  font-weight: 600;
}

#continueOne .btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgb(245, 84, 84);
  color:rgb(8, 7, 7);
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}