{% load static %}
<!DOCTYPE>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-eqiv="X-UA-Compatible" content="IE=edge"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>{% block title %}Our Socialize GetTogether{% endblock %}</title>
 <link rel="stylesheet" href="{% static 'socialize/styles/bases.css' %}">
  {% block sites_css%}{% endblock %}
</head>

<body>
   <header id="main-header">
     <nav><a href="/socialize" id="main-logo">Developer Hangouts</a></nav>
     <h1>{% block main_headings %}{% endblock %}</h1>
     {% block header_contents %}{% endblock %}
   </header>
   <main>
     {% block body %}{% endblock %}
   </main>
</body>
</html>
